.post {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  /* background-color: var(--color-grey-800); */
  text-align: center;
  border-radius: .5rem;
  overflow: hidden;

}

.post a {
  color: var(--color-grey-900);
}

.image {
  width: 100%;
  height: 20rem;
  max-height: 25rem;
  overflow: hidden;
  position: relative;
}

.image img {
  object-fit: cover;
}

.content {
  padding: var(--size-4);
}

.content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-6);
}

.content time {
  font-style: italic;
  color: var(--color-grey-800);
}

.content p {
  line-height: var(--size-6);
}